.caixa {
    width: 150px;
    height: 150px;
    margin: 20px;
    cursor: pointer;
}

.multipla {
    background-color: #9b59b6; /* Roxo */
    opacity: 1;
    transform: rotate(0deg);
    
    /* Definindo transições para cada propriedade */
    transition: transform 1s ease-in-out, opacity 1s ease-out;
}

.multipla:hover {
    opacity: 0;
    transform: rotate(180deg);
}